// Institutions Section Start
section#institution.container-fluid.sec4
  .custom-shape-divider-top-1632475320
     svg( data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 120", preserveaspectratio="none" )
     path.shape-fill(d="M1200 120L0 16.48 0 0 1200 0 1200 120z")
  .container
    .Sec4TopLeft
      h1 INSTITUTIONS
      p
        | Collect fees for your school, college or
        br
        |
        | coaching class with or without a website
    .Sec4TopRight
       img.lazy(data-src="/assets/education/institute.svg",
        alt="institute"
      )
  .container
    .box1.institution
      img.lazy(data-src="/assets/education/payment-button.svg",
        alt="payment-button"
      )
      h2 Payment Links
      ul
        li Share links via Whatsapp, FB, Instagram
        li Set automated reminders for collecting fees
      a(href="#home") SIGN UP NOW
    .box1.institution
      img.lazy(data-src="/assets/education/images/ic1.jpg",
        alt="Institutionicon1"
      )
      h2 Smart Collect
      ul
        li Create multiple free virtual accounts with Smart Collect
        li Customise Convenience Fee bearer
      a(href="#home") SIGN UP NOW
    .box1.institution
      img.lazy(data-src="/assets/education/ic1.jpg",
        alt="Institutionicon2"
      )
      h2 Route
      ul
        li Automatically split &amp; transfer incoming payments to various internal accounts
      a(href="#home") SIGN UP NOW
  p.botText
    | Transparent pricing that works for your business. No set up or maintenance fee.
    a(href="#", target="_blank") Know More
  .custom-shape-divider-bottom-1632475645
    svg( data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 120", preserveaspectratio="none" )
      path.shape-fill(d="M1200 120L0 16.48 0 0 1200 0 1200 120z")
// Institutions Section End
// Online Courses Section Start
section#online-course
  .container-fluid.sec4.bluebg
    .container
      .Sec4TopRight1
        img.lazy(data-src="/assets/education/online.svg",
          alt=""
        )
      .Sec4TopLeft1
        h1 ONLINE COURSES
        p
          | Join the top Edtech companies in accepting fees for your courses. Go live in a day.
    .container
      .box1.onlinecourses
        img.lazy(data-src="/assets/education/payment-button.svg",
          alt="payment-button2"
        )
        h2 Payment Buttons
        ul
          li Add payment button to an existing website in under 5 mins
          li Set up one-time &amp; recurring fee payments
          li 100+ payment modes, including EMI &amp; PayLater
        a(href="#home") SIGN UP NOW
      .box1.onlinecourses
       img.lazy(data-src="/assets/education/payment-link.svg",
          alt=""
        )
        h2 Payment Links
        ul
          li Share links via Whatsapp, FB, Instagram
          li Let students pay in language of their choice
          li Set automated reminders for collecting fees
        a(href="#home") SIGN UP NOW
      .box1.onlinecourses
        img.lazy(data-src="/assets/education/payment-gatway.svg",
          alt="payment-gatway3"
        )
        h2 Payment Gateway
        ul
          li Developer friendly integration with any website/ app
          li 100+ payment modes including EMI and PayLater
        a(href="#home") SIGN UP NOW
    p.botText
      | Transparent pricing : 2% fee per transaction (excel. GST). No setup &amp; maintenance feel!
      a(href="#", target="_blank") Know More
// Online Courses Section End
// Freelance Coaches Section Start
section#freelance.container-fluid.sec4
  .custom-shape-divider-top-1632475320
    svg(data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 120", preserveaspectratio="none" )
      path.shape-fill(d="M1200 120L0 16.48 0 0 1200 0 1200 120z")
  .container
    .Sec4TopLeft
      h1 FREELANCE COACHES &amp; TUTORS
      p
        | No website or technical knowledge needed,
        br
        |
        | get started in 30 minutes.
    .Sec4TopRight
      img.lazy(data-src="/assets/education/freelance.svg",
        alt="freelance"
      )
  .container
    .box1.freelanceCouches
      img.lazy(data-src="/assets/education/payment-page.svg",
        alt="payment-page"
      )
      h2 Payment Pages
      ul
        li Easily collect fees without a website
        li Ready to use, customizable templates
        li 100+ payment modes including EMI &amp; PayLater options
      a(href="#home") SIGN UP NOW
    .box1.freelanceCouches
      img.lazy(data-src="/assets/education/payment-link.svg",
        alt=""
      )
      h2 Payment Links
      ul
        li Share links via Whatsapp, FB, Instagram
        li Share links via Whatsapp, FB, Instagram instantly
        li Let students pay in language of their choice
      a(href="#home") SIGN UP NOW
    .box1.freelanceCouches
      img.lazy(data-src="/assets/education/payment-button.svg",
        alt="payment-button4"
      )
      h2 Payment Buttons
      ul
        li Add payment button to an existing website in under 5 mins
        li Set up one-time &amp; recurring fee payments
        li 100+ payment modes, including EMI &amp; PayLater
      a(href="#home") SIGN UP NOW
  p.botText
    | Transparent pricing : 2% fee per transaction (excel. GST). No setup &amp; maintenance feel!
    a(href="#", target="_blank") Know More
  .custom-shape-divider-bottom-1632476021
    svg( data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 120", preserveaspectratio="none" )
      path.shape-fill(d="M1200 120L0 16.48 0 0 1200 0 1200 120z")
// Freelance Coaches Section End
// Testimonial Section Start
section#testimonial
  .container.nomob
    .Sec4TopLeft
      img.testi-main-img(img.lazy(data-src="/assets/education/testimonial.svg",
        alt="testimonial"
      )
    .Sec4TopRight
      h1
        | Education BUSINESSES
        br
        | That Love Razorpay
  .container.mob
    .Sec4TopLeft
      h1
        | Education Bussinesses
        br
        | That Love Razorpay
    .Sec4TopRight
      img.lazy(data-src="/assets/education/testimonial.svg",
        alt="testimonial1"
      )
  .container.sec4.testimonial-content
    h1.text-uppercase.text-right
    .carousel-controls.testimonial-carousel-controls
      .testimonial-carousel
        .one-slide
          .testimonial.testi1
            .message
              .testi-img
                img.lazy(data-src="/assets/education/testi-one.png"
                )
              .testi-msg
                p.msg
                  | Creating No Cost EMI offers through the Razorpay dashboard was surprisingly easy. We saw ~3x increase of the EMI contribution in the overall sales.
                ul
                  li
                    h5 Shubham Kumar
                    p Product Manager
                  li.testi-logo
                    img.lazy(data-src="/assets/education/unacademy-logo.jpg"
                    )
                  li.quotes
                    img.lazy(data-src="/assets/education/quotes.png"
                    )
        .one-slide
          .testimonial.testi1
            .message
              .testi-img
                img.lazy(data-src="/assets/education/testi-two.jpg"
                )
              .testi-msg
                p.msg
                  | Through Payment Pages and Payment Buttons we could start accepting payments just by adding a link to a page or script on the webpage.
                ul
                  li
                    h5 Anubha Maneshwar
                    p Founder, Girlscript
                  li.testi-logo
                    img.lazy(data-src="/assets/education/girl-script-logo.jpg"
                    )
                  li.quotes
                    img.lazy(data-src="/assets/education/quotes.png"
                    )
        .one-slide
          .testimonial.testi1.video
            .message
             img.lazy(data-src="/assets/education/video-testi.png"
              )
              .testi-msg
                ul
                  li
                    h5 Anubha Maneshwar
                    p Founder, Girlscript
                  li.testi-logo
                    img.lazy(data-src="/assets/education/1.png"
                    )
                  li.quotes
                    img.lazy(data-src="/assets/education/quotes-w.png"
                    )
      .controller
        .control.prev(style="top: 0px; right: 0px")
          img(src="img.lazy(data-src="/assets/education/arrow.svg")
        .control.next(style="top: 0px; left: 20px")
          img(src="img.lazy(data-src="/assets/education/arrow.svg")
  .custom-shape-divider-bottom-1632475645
    svg( data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 120", preserveaspectratio="none" )
      path.shape-fill(d="M1200 120L0 16.48 0 0 1200 0 1200 120z")
// Testimonial Section End

// FAQ Section Start
section#faqSection
    .container
      .faq-container
        .faq
          -
            var faqList = [
              {
                q: "What are the charges and pricing for using Razorpay to accept payments?",
                a: "We offer a simple, transparent pricing of 2% fee per transaction amount. However, if you’d like a customised plan for your business, you can read more here"
              },
              {
                q: "I want to accept payments without a website, how do I go about it?",
                a: "You can accept payments through 100+ payment modes via the below products

  				Payment Pages: If you don’t have a website and still would like to showcase information about your product / service with images, links, etc. You can also collect payments on the same page without any coding knowledge.

				Payment Links: If you need to instantly accept payment from customers across different platforms like SMS, Whatsapp etc, you can generate multiple payment links and share them with your students / customers."
              },
              {
                q: "I have a website, but it is not an ecommerce platform - how can I accept payments?",
                a: "Razorpay Payment Button is ideal for you. You can add a customised button to any website within 5 minutes and start accepting payments, no technical knowledge required!"
              },
              {
                q: "I run / am in charge of fee collection for an institution from hundreds / thousands of students. How can Smart Collect help me?" ,
                a: "BSmart Collect is a smart alternative to traditional e-collect and virtual account set ups. You can create multiple unique and customised virtual accounts that are unique to every payer. Create an account, share it with your customer who will add it as a beneficiary, and they can continue making payments with the same virtual account in a secure manner. You will receive notifications on every incoming payment
				To know more, click here"
              },
              {
                q: "Will I need external help or a web developer to help me get started?" ,
                a: "If you have a website and are comfortable with a web developer to help you, they can set up our payment gateway solution for you.
				However, if you don’t have a website, you can still get started with Payment Buttons, Payment Links and Payment Pages with ease - no technical skill required"
              },
              {
                q: "I need to share payment receipts with my students / parents. How can I do that?" ,
                a: "Payment Pages and Payment Buttons come with automated receipts for every payment. Once your customer pays fees, they will get alerts via SMS, Email."
              },
              {
                q: "How long will I get the payments in my bank account by?" ,
                a: "Our typical settlement cycle(time taking for payments to reflect in your bank account) is between 2-5 days.
				However, our Instant Settlements feature allows you to receive payments instantly upto a certain amount. You can read more here"
              },
              {
                q: "I need to collect fees on a recurring/repetitive basis for my education business. How can I do that with minimal effort?" ,
                a: "If you are an education institution that needs to collect fees on a monthly, quarterly or even annual basis, you can use Subscriptions. This enables your customer to pay fees on a regular cycle that you can control.
				You can also use Payment Buttons to collect one time and recurring payments on your website with zero coding in less than 5 mins"
              },
              {
                q: "What kind of documents will I need to upload while signing up?" ,
                a: "Depending on the type of business you run, you will be required to upload scanned copies of your business documents. For a more detailed list, click here"
              },
              {
                q: "Why do I have to submit my KYC details after signing up?" ,
                a: "This allows us to complete the verification processes required to activate your account and enable your customers to start transacting. It takes just a few minutes to complete the details, upload the documents so that you can begin your journey of accepting digital payments."
              },
            ]
               .heading Why do I have to submit my KYC details after signing up?
                p
                  | This allows us to complete the verification processes required to activate your account and enable your customers to start transacting. It takes just a few minutes to complete the details, upload the documents so that you can begin your journey of accepting digital payments.
// FAQ Section End
// Footer Section Start
footer
  section.endsection
    +endsection-plain-svg('#001E96','#001E96')
    .container
      h2.puck-ter.colored Get exciting features with Razorpay MultiQR
      p.size-md.restrict.
        Sign up now to experience the future of payments and offer your customers the best checkout experience.
      ul.list
        li Accept UPI payments for FREE
        li Personalised QR with your business logo
        li Generate unlimited QRs. No restrictions.
        li SMS and email alerts for all payments
      +button-anchor(text='Sign Up' class="signupCTA"
        data-lytics="click"
        data-lytics-category="Website - Rzp Bottom"
        data-lytics-action="Click - Signup"
         data-location="footer"
        arrow
        small) 
append scripts
script(src='/education.js')
// Footer Section End
 
